.drawer-menu{
    width: 240px;
    background: #d9d9d9;
    padding: 24px;

    display: flex;
    flex-direction: column;
}

.drawer-menu nav{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}